Repository rjmurillo/moq.analyzers, changes with the labels that .github/labeler.yml gives for each.
All labels: build, dependencies, documentation, github_actions, analyzers, powershell

feat: update MockGetShouldNotTakeLiteralsAnalyzer metadata to include literal values in diagnostics (#690)
  src/Analyzers/AnalyzerReleases.Unshipped.md
  src/Analyzers/MockGetShouldNotTakeLiteralsAnalyzer.cs
Labels: documentation, analyzers

Update src/Analyzers/MethodSetupShouldSpecifyReturnValueAnalyzer.cs
  src/Analyzers/MethodSetupShouldSpecifyReturnValueAnalyzer.cs
Labels: analyzers

Fix exception in codefix of explicit mock behavior
  src/CodeFixes/SyntaxGeneratorExtensions.cs
  tests/Moq.Analyzers.Test/SetExplicitMockBehaviorCodeFixTests.cs
Labels: none

Update tests/Moq.Analyzers.Test/SetExplicitMockBehaviorCodeFixTests.cs
  tests/Moq.Analyzers.Test/SetExplicitMockBehaviorCodeFixTests.cs
Labels: none

Cleanup syntax gen extensions
  src/CodeFixes/SetExplicitMockBehaviorCodeAction.cs
  src/CodeFixes/SyntaxGeneratorExtensions.cs
Labels: none

fix: exception in codefix of explicit mock behavior (#701)
  src/CodeFixes/SyntaxGeneratorExtensions.cs
  tests/Moq.Analyzers.Test/SetExplicitMockBehaviorCodeFixTests.cs
Labels: none

refactor: Cleanup syntax gen extensions (#703)
  src/CodeFixes/SetExplicitMockBehaviorCodeAction.cs
  src/CodeFixes/SyntaxGeneratorExtensions.cs
Labels: none

refactor: Replace .Name with .ToDisplayString() in diagnostic messages for better type information (#709)
  src/Analyzers/ConstructorArgumentsShouldMatchAnalyzer.cs
  src/Analyzers/MethodSetupShouldSpecifyReturnValueAnalyzer.cs
  src/Analyzers/RaisesEventArgumentsShouldMatchEventSignatureAnalyzer.cs
  src/Analyzers/SetupSequenceShouldBeUsedOnlyForOverridableMembersAnalyzer.cs
  src/Analyzers/SetupShouldBeUsedOnlyForOverridableMembersAnalyzer.cs
Labels: analyzers

feat: Update MethodSetupShouldSpecifyReturnValueAnalyzer metadata to Usage category (#689)
  src/Analyzers/AnalyzerReleases.Unshipped.md
  src/Analyzers/MethodSetupShouldSpecifyReturnValueAnalyzer.cs
Labels: documentation, analyzers

.github/labeler.yml:

# Add 'build' label to any change in the 'build' directory
build:
- changed-files:
  - any-glob-to-any-file: 'build/**/*'

# Add 'dependencies' label to any change in one of the packages files
dependencies:
- changed-files:
  - any-glob-to-any-file: ['build/**/Packages.props', 'Directory.Packages.props']

# Add 'documentation' label to any change within the 'docs' directory or any '.md' file
documentation:
- changed-files: 
  - any-glob-to-any-file: ['docs/**', '**/*.md']

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
 - head-branch: ['^feature', 'feature']

# Add 'bug' label to any PR where the head branch name starts with `bug` or has a `bug` section in the name
bug:
 - head-branch: ['^bug', 'bug']

# Add 'releasable' label to any PR that is opened against the `main` branch
releasable:
 - base-branch: 'main'

# Add 'github_actions' label to any change to one of the GitHub workflows or configuration files
github_actions:
- changed-files:
  - any-glob-to-any-file: ['.github/workflows/*.yml', '.github/dependabot.yml', '.github/labeler.yml']

# Add 'analyzers' label to any change to an analyzer, code fix, or shipping documentation
analyzers:
- changed-files:
  - any-glob-to-any-file: ['src/Moq.Analyzers/AnalyzerReleases.*.md', 'src/Moq.Analyzers/**/*Analyzer.cs', 'src/Moq.Analyzers/**/*CodeFix.cs', 'src/Analyzers/**/*Analyzer.cs', 'src/CodeFixes/*Fixer.cs', 'src/Analyzers/AnalyzerReleases.*.md']

# Add 'powershell' label to any change to a PowerShell file
powershell:
- changed-files:
  - any-glob-to-any-file: ['*.ps1', '*.ps1x', '*.psm1', '*.psd1', '*.ps1xml', '*.pssc', '*.psrc', '*.cdxml']
