Repository rjmurillo/moq.analyzers, pull requests merged in 2024-12, with the labels that each got.

#289 Align .editorconfig with dotnet new template
  .editorconfig
  build/perf/baseline.json
  build/targets/codeanalysis/stylecop.json
Labels: bug, releasable, build

#290 Add reference to Microsoft.CodeAnalysis.AnalyzerUtilities and delete forked methods
  Directory.Packages.props
  src/Analyzers/Moq.Analyzers.csproj
  src/Analyzers/SquiggleCop.Baseline.yaml
  src/CodeFixes/Moq.CodeFixes.csproj
  src/CodeFixes/SquiggleCop.Baseline.yaml
  src/Common/Caching/BoundedCacheWithFactory.cs
  src/Common/Common.csproj
  src/Common/ISymbolExtensions.cs
  src/Common/ITypeSymbolExtensions.cs
  src/Common/SymbolVisibility.cs
  src/Common/WellKnown/KnownSymbols.cs
  src/Common/WellKnown/MoqKnownSymbols.cs
  src/Common/WellKnown/WellKnownTypeProvider.cs
  tests/Moq.Analyzers.Benchmarks/Moq.Analyzers.Benchmarks.csproj
  tests/Moq.Analyzers.Test/Moq.Analyzers.Test.csproj
Labels: dependencies, releasable

#296 Refactor SetExplicitMockBehaviorAnalyzer to use KnownSymbols and add CodeFix
  src/Analyzers/SetExplicitMockBehaviorAnalyzer.cs
  src/Analyzers/SquiggleCop.Baseline.yaml
  src/CodeFixes/CallbackSignatureShouldMatchMockedMethodFixer.cs
  src/CodeFixes/CodeFixContextExtensions.cs
  src/CodeFixes/SetExplicitMockBehaviorFixer.cs
  src/CodeFixes/SyntaxGeneratorExtensions.cs
  src/Common/DiagnosticEditProperties.cs
  src/Common/EnumerableExtensions.cs
  src/Common/IMethodSymbolExtensions.cs
  src/Common/IOperationExtensions.cs
  src/Common/ISymbolExtensions.cs
  src/Common/InvocationExpressionSyntaxExtensions.cs
  tests/Moq.Analyzers.Test/CallbackSignatureShouldMatchMockedMethodCodeFixTests.cs
  tests/Moq.Analyzers.Test/SetExplicitMockBehaviorAnalyzerTests.cs
  tests/Moq.Analyzers.Test/SetExplicitMockBehaviorCodeFixTests.cs
Labels: releasable, feature

#301 Remove false positive for Moq1200 when using parameterized lambda
  src/Analyzers/ConstructorArgumentsShouldMatchAnalyzer.cs
  tests/Moq.Analyzers.Test/ConstructorArgumentsShouldMatchAnalyzerTests.Expressions.cs
Labels: bug, releasable

#303 Update version.json to 1.0.0 alpha
  version.json
Labels: releasable
