Repository rjmurillo/moq.analyzers, pull requests merged in 2024-08, with the labels that each got.

#170 Disable rollForward for SDK in global.json
  global.json
Labels: releasable

#166 Add SquiggleCop to baseline analyzer settings
  .config/dotnet-tools.json
  .github/workflows/main.yml
  CONTRIBUTING.md
  build/targets/codeanalysis/CodeAnalysis.props
  build/targets/codeanalysis/CodeAnalysis.targets
  build/targets/codeanalysis/Packages.props
  src/Moq.Analyzers/SquiggleCop.Baseline.yaml
  src/tools/PerfDiff/SquiggleCop.Baseline.yaml
  tests/Moq.Analyzers.Benchmarks/SquiggleCop.Baseline.yaml
  tests/Moq.Analyzers.Test/SquiggleCop.Baseline.yaml
Labels: dependencies, documentation, github_actions, analyzers, releasable, build, feature

#174 Update SquiggleCop and remove ErrorLog property
  .config/dotnet-tools.json
  build/targets/codeanalysis/CodeAnalysis.targets
  build/targets/codeanalysis/Packages.props
Labels: dependencies, releasable, build

#182 Add Effective C# analyzers and update SquiggleCop baselines
  build/targets/codeanalysis/.globalconfig
  build/targets/codeanalysis/CodeAnalysis.props
  build/targets/codeanalysis/Packages.props
  src/Moq.Analyzers/AsShouldBeUsedOnlyForInterfaceAnalyzer.cs
  src/Moq.Analyzers/CallbackSignatureShouldMatchMockedMethodAnalyzer.cs
  src/Moq.Analyzers/CallbackSignatureShouldMatchMockedMethodCodeFix.cs
  src/Moq.Analyzers/Common/ArrayExtensions.cs
  src/Moq.Analyzers/Common/DiagnosticCategory.cs
  src/Moq.Analyzers/Common/DiagnosticExtensions.cs
  src/Moq.Analyzers/Common/DiagnosticIds.cs
  src/Moq.Analyzers/Common/MoqMethodDescriptorBase.cs
  src/Moq.Analyzers/Common/WellKnownTypeNames.cs
  src/Moq.Analyzers/ConstructorArgumentsShouldMatchAnalyzer.cs
  src/Moq.Analyzers/MoqSetupMethodDescriptor.cs
  src/Moq.Analyzers/NoMethodsInPropertySetupAnalyzer.cs
  src/Moq.Analyzers/NoSealedClassMocksAnalyzer.cs
  src/Moq.Analyzers/SetupShouldBeUsedOnlyForOverridableMembersAnalyzer.cs
  src/Moq.Analyzers/SetupShouldNotIncludeAsyncResultAnalyzer.cs
  src/Moq.Analyzers/SquiggleCop.Baseline.yaml
  src/tools/PerfDiff/.editorconfig
  src/tools/PerfDiff/SquiggleCop.Baseline.yaml
  tests/Moq.Analyzers.Benchmarks/Constants.cs
  tests/Moq.Analyzers.Benchmarks/Helpers/CompilationCreator.cs
  tests/Moq.Analyzers.Benchmarks/Helpers/ExportProviderExtensions.cs
  tests/Moq.Analyzers.Benchmarks/SquiggleCop.Baseline.yaml
  tests/Moq.Analyzers.Test/CompositeAnalyzer.cs
  tests/Moq.Analyzers.Test/SquiggleCop.Baseline.yaml
Labels: dependencies, analyzers, releasable, build, feature

#187 Moq1100 incorrectly firing on nullable parameters
  src/Moq.Analyzers/CallbackSignatureShouldMatchMockedMethodAnalyzer.cs
  tests/Moq.Analyzers.Test/CallbackSignatureShouldMatchMockedMethodCodeFixTests.cs
Labels: bug, enhancement, analyzers, releasable

#193 Add CODEOWNERS
  CODEOWNERS
Labels: releasable, feature
