Repository rjmurillo/moq.analyzers, pull requests merged in 2024-11, with the labels that each got.

#263 Update global.json to SDK 9
  global.json
Labels: releasable

#271 Remove forced lf in .editorconfig
  .editorconfig
Labels: bug, releasable

#272 Reduce severity of S3267: Loops should be simplified with "LINQ" expressions
  .editorconfig
  src/Analyzers/SquiggleCop.Baseline.yaml
  src/CodeFixes/SquiggleCop.Baseline.yaml
  tests/Moq.Analyzers.Benchmarks/SquiggleCop.Baseline.yaml
  tests/Moq.Analyzers.Test.Analyzers/SquiggleCop.Baseline.yaml
  tests/Moq.Analyzers.Test/SquiggleCop.Baseline.yaml
Labels: bug, dependencies, releasable

#274 Bump GetPackFromProject to fix race in .NET 9 SDK
  Directory.Packages.props
Labels: bug, dependencies, releasable

#273 Move "upload binlogs" CI step earlier in pipeline and run even if failed
  .github/workflows/main.yml
Labels: github_actions, releasable
