Repository rjmurillo/moq.analyzers, pull requests merged in 2024-10, with the labels that each got.

#215 Use dotnet template for .gitattributes
  .gitattributes
  .gitignore
  LICENSE
  src/Moq.Analyzers/Resources.resx
Labels: .NET

#216 Refactor to support RS1038
  Directory.Packages.props
  Moq.Analyzers.sln
  build/targets/codeanalysis/Packages.props
  src/Moq.Analyzers/Common/SemanticModelExtensions.cs
  src/Moq.Analyzers/Moq.Analyzers.csproj
  src/Moq.CodeFixes/CallbackSignatureShouldMatchMockedMethodCodeFix.cs
  src/Moq.CodeFixes/Moq.CodeFixes.csproj
  src/Moq.CodeFixes/SquiggleCop.Baseline.yaml
  tests/Moq.Analyzers.Test/CallbackSignatureShouldMatchMockedMethodCodeFixTests.cs
  tests/Moq.Analyzers.Test/PackageTests.Baseline#contents.verified.txt
Labels: dependencies, releasable, build, feature

#220 Update dotnet SDK version to 9 RC2
  global.json
Labels: releasable, feature

#221 Bug/fix issue 143
  src/Moq.Analyzers/Common/ISymbolExtensions.cs
  src/Moq.Analyzers/SetupShouldBeUsedOnlyForOverridableMembersAnalyzer.cs
  src/Moq.Analyzers/SetupShouldNotIncludeAsyncResultAnalyzer.cs
  src/Moq.Analyzers/SquiggleCop.Baseline.yaml
  tests/Moq.Analyzers.Test/SetupShouldBeUsedOnlyForOverridableMembersAnalyzerTests.cs
Labels: bug, analyzers, releasable

#224 Bug/fix issue 144
  src/Moq.Analyzers/SetupShouldNotIncludeAsyncResultAnalyzer.cs
  tests/Moq.Analyzers.Test/CallbackSignatureShouldMatchMockedMethodCodeFixTests.cs
  tests/Moq.Analyzers.Test/GlobalUsings.cs
  tests/Moq.Analyzers.Test/Helpers/TestDataExtensions.cs
  tests/Moq.Analyzers.Test/SetupShouldBeUsedOnlyForOverridableMembersAnalyzerTests.cs
  tests/Moq.Analyzers.Test/SetupShouldNotIncludeAsyncResultAnalyzerTests.cs
Labels: bug, analyzers, releasable

#233 Add IOperation to DiagnosticExtensions and clean up overloads
  src/Moq.Analyzers/CallbackSignatureShouldMatchMockedMethodAnalyzer.cs
  src/Moq.Analyzers/Common/DiagnosticExtensions.cs
  src/Moq.Analyzers/ConstructorArgumentsShouldMatchAnalyzer.cs
  src/Moq.Analyzers/SetExplicitMockBehaviorAnalyzer.cs
  src/Moq.Analyzers/SetupShouldNotIncludeAsyncResultAnalyzer.cs
Labels: analyzers, releasable

#235 Create a shared Common .projitems
  .gitattributes
  Moq.Analyzers.sln
  build/targets/codeanalysis/CodeAnalysis.targets
  src/Analyzers/AnalyzerReleases.Shipped.md
  src/Analyzers/AnalyzerReleases.Unshipped.md
  src/Analyzers/AsShouldBeUsedOnlyForInterfaceAnalyzer.cs
  src/Analyzers/CallbackSignatureShouldMatchMockedMethodAnalyzer.cs
  src/Analyzers/ConstructorArgumentsShouldMatchAnalyzer.cs
  src/Analyzers/GlobalSuppressions.cs
  src/Analyzers/Moq.Analyzers.csproj
  src/Analyzers/NoMethodsInPropertySetupAnalyzer.cs
  src/Analyzers/NoSealedClassMocksAnalyzer.cs
  src/Analyzers/Resources.Designer.cs
  src/Analyzers/Resources.resx
  src/Analyzers/SetExplicitMockBehaviorAnalyzer.cs
  src/Analyzers/SetupShouldBeUsedOnlyForOverridableMembersAnalyzer.cs
  src/Analyzers/SetupShouldNotIncludeAsyncResultAnalyzer.cs
  src/Analyzers/SquiggleCop.Baseline.yaml
  src/Analyzers/tools/install.ps1
  src/Analyzers/tools/uninstall.ps1
  src/CodeFixes/CallbackSignatureShouldMatchMockedMethodCodeFix.cs
  src/CodeFixes/Moq.CodeFixes.csproj
  src/CodeFixes/SquiggleCop.Baseline.yaml
  src/Common/ArrayExtensions.cs
  src/Common/Common.csproj
  src/Common/Common.projitems
  src/Common/CompilationExtensions.cs
  src/Common/CompilationOptionsExtensions.cs
  src/Common/DiagnosticCategory.cs
  src/Common/DiagnosticExtensions.cs
  src/Common/DiagnosticIds.cs
  src/Common/EnumerableExtensions.cs
  src/Common/GlobalUsings.cs
  src/Common/ISymbolExtensions.cs
  src/Common/InvocationExpressionSyntaxExtensions.cs
  src/Common/MoqMethodDescriptorBase.cs
  src/Common/MoqSetupMethodDescriptor.cs
  src/Common/SemanticModelExtensions.cs
  src/Common/WellKnownTypeNames.cs
  src/Moq.CodeFixes/Moq.CodeFixes.csproj
  tests/Moq.Analyzers.Benchmarks/Moq.Analyzers.Benchmarks.csproj
  tests/Moq.Analyzers.Test.Analyzers/Moq.Analyzers.Test.Analyzers.csproj
  tests/Moq.Analyzers.Test/Moq.Analyzers.Test.csproj
Labels: documentation, releasable, build

#236 Remove ECS0200 suppression and update WellKnownTypes to not trigger ECS0600
  src/Analyzers/AsShouldBeUsedOnlyForInterfaceAnalyzer.cs
  src/Analyzers/ConstructorArgumentsShouldMatchAnalyzer.cs
  src/Analyzers/SetExplicitMockBehaviorAnalyzer.cs
  src/Common/CompilationExtensions.cs
  src/Common/MoqMethodDescriptorBase.cs
  src/Common/WellKnownMoqNames.cs
  src/Common/WellKnownTypeNames.cs
Labels: bug, housekeeping, analyzers, releasable

#239 Add BannedApiAnalyzer and ban direct use of Diagnostic.Create
  build/targets/codeanalysis/CodeAnalysis.props
  build/targets/codeanalysis/Packages.props
  src/Analyzers/SquiggleCop.Baseline.yaml
  src/BannedSymbols.txt
  src/CodeFixes/SquiggleCop.Baseline.yaml
  src/Common/DiagnosticExtensions.cs
  src/Directory.Build.props
  src/tools/PerfDiff/SquiggleCop.Baseline.yaml
  tests/Moq.Analyzers.Benchmarks/SquiggleCop.Baseline.yaml
  tests/Moq.Analyzers.Test.Analyzers/SquiggleCop.Baseline.yaml
  tests/Moq.Analyzers.Test/SquiggleCop.Baseline.yaml
Labels: dependencies, releasable, build

#240 Add *.props and *.targets to XML section of .editorconfig template
  .editorconfig
  Directory.Packages.props
  src/CodeFixes/Moq.CodeFixes.csproj
  tests/Moq.Analyzers.Test/Moq.Analyzers.Test.csproj
Labels: dependencies, releasable

#242 Remove dead suppressions and dead code
  .editorconfig
  build/targets/codeanalysis/.globalconfig
  src/Analyzers/CallbackSignatureShouldMatchMockedMethodAnalyzer.cs
  src/Analyzers/ConstructorArgumentsShouldMatchAnalyzer.cs
  src/Analyzers/NoMethodsInPropertySetupAnalyzer.cs
  src/Analyzers/NoSealedClassMocksAnalyzer.cs
  src/Analyzers/SetupShouldBeUsedOnlyForOverridableMembersAnalyzer.cs
  src/Analyzers/SetupShouldNotIncludeAsyncResultAnalyzer.cs
  src/Analyzers/SquiggleCop.Baseline.yaml
  src/CodeFixes/CallbackSignatureShouldMatchMockedMethodCodeFix.cs
  src/CodeFixes/SquiggleCop.Baseline.yaml
  src/Common/ArrayExtensions.cs
  src/Common/MoqSetupMethodDescriptor.cs
  src/Common/SemanticModelExtensions.cs
  src/tools/PerfDiff/.editorconfig
  tests/.editorconfig
  tests/Moq.Analyzers.Benchmarks/Helpers/CSharpCompilationCreator.cs
  tests/Moq.Analyzers.Benchmarks/Helpers/CompilationCreator.cs
  tests/Moq.Analyzers.Benchmarks/Helpers/ExportProviderExtensions.cs
Labels: releasable, build

#241 Add rule suppression docs to README and each rule
  README.md
  docs/rules/Moq1000.md
  docs/rules/Moq1001.md
  docs/rules/Moq1002.md
  docs/rules/Moq1100.md
  docs/rules/Moq1101.md
  docs/rules/Moq1200.md
  docs/rules/Moq1201.md
  docs/rules/Moq1300.md
  docs/rules/Moq1400.md
  docs/rules/README.md
Labels: bug, documentation, releasable

#244 Disable SquiggleCop for PerfDiff
  src/tools/PerfDiff/PerfDiff.csproj
  src/tools/PerfDiff/SquiggleCop.Baseline.yaml
Labels: releasable

#245 Use WellKnownTypeProvider + KnownSymbols pattern to simplify analyzers
  build/targets/codeanalysis/CodeAnalysis.props
  build/targets/codeanalysis/Packages.props
  build/targets/compiler/Compiler.props
  build/targets/compiler/Packages.props
  src/Analyzers/AsShouldBeUsedOnlyForInterfaceAnalyzer.cs
  src/Analyzers/CallbackSignatureShouldMatchMockedMethodAnalyzer.cs
  src/Analyzers/ConstructorArgumentsShouldMatchAnalyzer.cs
  src/Analyzers/SetExplicitMockBehaviorAnalyzer.cs
  src/Analyzers/SetupShouldBeUsedOnlyForOverridableMembersAnalyzer.cs
  src/Analyzers/SetupShouldNotIncludeAsyncResultAnalyzer.cs
  src/Analyzers/SquiggleCop.Baseline.yaml
  src/BannedSymbols.txt
  src/CodeFixes/CallbackSignatureShouldMatchMockedMethodCodeFix.cs
  src/CodeFixes/SquiggleCop.Baseline.yaml
  src/Common/Caching/BoundedCacheWithFactory.cs
  src/Common/CompilationExtensions.cs
  src/Common/EnumerableExtensions.cs
  src/Common/GlobalUsings.cs
  src/Common/ISymbolExtensions.cs
  src/Common/ITypeSymbolExtensions.cs
  src/Common/MoqMethodDescriptorBase.cs
  src/Common/MoqSetupMethodDescriptor.cs
  src/Common/SemanticModelExtensions.cs
  src/Common/SymbolVisibility.cs
  src/Common/WellKnown/KnownSymbols.cs
  src/Common/WellKnown/MoqKnownSymbolExtensions.cs
  src/Common/WellKnown/MoqKnownSymbols.cs
  src/Common/WellKnown/WellKnownTypeProvider.cs
  src/Common/WellKnownMoqNames.cs
  tests/Moq.Analyzers.Benchmarks/SquiggleCop.Baseline.yaml
  tests/Moq.Analyzers.Test.Analyzers/SquiggleCop.Baseline.yaml
  tests/Moq.Analyzers.Test/SquiggleCop.Baseline.yaml
Labels: housekeeping, dependencies, releasable, build
