Repository rjmurillo/moq.analyzers, pull requests merged in 2024-06, with the labels that each got.

#44 Follow reproducible builds best practices for package
  .github/workflows/main.yml
  Directory.Build.props
  Directory.Build.targets
  Directory.Packages.props
  Source/Moq.Analyzers.Test/PackageTests.Baseline#manifest.verified.nuspec
  Source/Moq.Analyzers/Moq.Analyzers.csproj
  build/targets/reproducible/Packages.props
  build/targets/reproducible/Reproducible.props
  build/targets/reproducible/Reproducible.targets
  global.json
Labels: enhancement

#49 Remove package dependencies and don't publish analyzer as a lib
  Source/Moq.Analyzers.Test/PackageTests.Baseline#contents.verified.txt
  Source/Moq.Analyzers.Test/PackageTests.Baseline#manifest.verified.nuspec
  Source/Moq.Analyzers/Moq.Analyzers.csproj
Labels: enhancement

#51 Update release.yml permissions
  .github/workflows/release.yml
Labels: bug

#52 Add cancellation tokens to methods that have a parameter but we don't pass
  .editorconfig
  Directory.Packages.props
  Source/Moq.Analyzers.Test/Helpers/CodeFixVerifier.cs
  Source/Moq.Analyzers.Test/Helpers/DiagnosticVerifier.Helper.cs
  Source/Moq.Analyzers/AsShouldBeUsedOnlyForInterfaceAnalyzer.cs
  Source/Moq.Analyzers/CallbackSignatureShouldMatchMockedMethodAnalyzer.cs
  Source/Moq.Analyzers/ConstructorArgumentsShouldMatchAnalyzer.cs
  Source/Moq.Analyzers/Moq.Analyzers.csproj
  Source/Moq.Analyzers/NoConstructorArgumentsForInterfaceMockAnalyzer.cs
  Source/Moq.Analyzers/NoMethodsInPropertySetupAnalyzer.cs
  Source/Moq.Analyzers/NoSealedClassMocksAnalyzer.cs
  Source/Moq.Analyzers/SetupShouldBeUsedOnlyForOverridableMembersAnalyzer.cs
  Source/Moq.Analyzers/SetupShouldNotIncludeAsyncResultAnalyzer.cs
  build/targets/compiler/Compiler.props
Labels: enhancement

#81 Remove Regex from analyzers
  Directory.Packages.props
  Source/Moq.Analyzers/AsShouldBeUsedOnlyForInterfaceAnalyzer.cs
  Source/Moq.Analyzers/CallbackSignatureShouldMatchMockedMethodAnalyzer.cs
  Source/Moq.Analyzers/CallbackSignatureShouldMatchMockedMethodCodeFix.cs
  Source/Moq.Analyzers/Helpers.cs
  Source/Moq.Analyzers/MoqAsMethodDescriptor.cs
  Source/Moq.Analyzers/MoqMethodDescriptor.cs
  Source/Moq.Analyzers/MoqMethodDescriptorBase.cs
  Source/Moq.Analyzers/MoqSetupMethodDescriptor.cs
  Source/Moq.Analyzers/SetupShouldBeUsedOnlyForOverridableMembersAnalyzer.cs
  Source/Moq.Analyzers/SetupShouldNotIncludeAsyncResultAnalyzer.cs
  Source/Moq.Analyzers/SyntaxExtensions.cs
  build/targets/compiler/Compiler.props
  build/targets/compiler/Packages.props
Labels: enhancement, housekeeping

#82 Refactor test cases to matrix on Moq version
  Source/Moq.Analyzers.Test/AsAcceptOnlyInterfaceAnalyzerTests.cs
  Source/Moq.Analyzers.Test/CallbackSignatureShouldMatchMockedMethodCodeFixTests.cs
  Source/Moq.Analyzers.Test/ConstructorArgumentsShouldMatchAnalyzerTests.cs
  Source/Moq.Analyzers.Test/Helpers/AnalyzerVerifier.cs
  Source/Moq.Analyzers.Test/Helpers/CodeFixVerifier.cs
  Source/Moq.Analyzers.Test/Helpers/ReferenceAssemblyCatalog.cs
  Source/Moq.Analyzers.Test/Helpers/Test.cs
  Source/Moq.Analyzers.Test/Helpers/TestDataExtensions.cs
  Source/Moq.Analyzers.Test/NoConstructorArgumentsForInterfaceMockAnalyzerTests.cs
  Source/Moq.Analyzers.Test/NoMethodsInPropertySetupAnalyzerTests.cs
  Source/Moq.Analyzers.Test/NoSealedClassMocksAnalyzerTests.cs
  Source/Moq.Analyzers.Test/SetupShouldBeUsedOnlyForOverridableMembersAnalyzerTests.cs
  Source/Moq.Analyzers.Test/SetupShouldNotIncludeAsyncResultAnalyzerTests.cs
Labels: enhancement, housekeeping

#84 Add analyzer release tracking
  Source/Moq.Analyzers/AnalyzerReleases.Shipped.md
  Source/Moq.Analyzers/AnalyzerReleases.Unshipped.md
  Source/Moq.Analyzers/AsShouldBeUsedOnlyForInterfaceAnalyzer.cs
  Source/Moq.Analyzers/CallbackSignatureShouldMatchMockedMethodAnalyzer.cs
  Source/Moq.Analyzers/ConstructorArgumentsShouldMatchAnalyzer.cs
  Source/Moq.Analyzers/NoConstructorArgumentsForInterfaceMockAnalyzer.cs
  Source/Moq.Analyzers/NoMethodsInPropertySetupAnalyzer.cs
  Source/Moq.Analyzers/NoSealedClassMocksAnalyzer.cs
  Source/Moq.Analyzers/SetupShouldBeUsedOnlyForOverridableMembersAnalyzer.cs
  Source/Moq.Analyzers/SetupShouldNotIncludeAsyncResultAnalyzer.cs
Labels: enhancement, housekeeping

#86 Remove period from analyzer messages and inline in the analyzer classes
  Source/Moq.Analyzers/AsShouldBeUsedOnlyForInterfaceAnalyzer.cs
  Source/Moq.Analyzers/CallbackSignatureShouldMatchMockedMethodAnalyzer.cs
  Source/Moq.Analyzers/CallbackSignatureShouldMatchMockedMethodCodeFix.cs
  Source/Moq.Analyzers/ConstructorArgumentsShouldMatchAnalyzer.cs
  Source/Moq.Analyzers/DiagnosticCategory.cs
  Source/Moq.Analyzers/Diagnostics.cs
  Source/Moq.Analyzers/NoConstructorArgumentsForInterfaceMockAnalyzer.cs
  Source/Moq.Analyzers/NoMethodsInPropertySetupAnalyzer.cs
  Source/Moq.Analyzers/NoSealedClassMocksAnalyzer.cs
  Source/Moq.Analyzers/SetupShouldBeUsedOnlyForOverridableMembersAnalyzer.cs
  Source/Moq.Analyzers/SetupShouldNotIncludeAsyncResultAnalyzer.cs
Labels: housekeeping

#87 Fix SA0001: XML comment analysis is disabled due to project configuration
  Source/Moq.Analyzers.Test/.editorconfig
  Source/Moq.Analyzers/AsShouldBeUsedOnlyForInterfaceAnalyzer.cs
  Source/Moq.Analyzers/CallbackSignatureShouldMatchMockedMethodAnalyzer.cs
  Source/Moq.Analyzers/CallbackSignatureShouldMatchMockedMethodCodeFix.cs
  Source/Moq.Analyzers/ConstructorArgumentsShouldMatchAnalyzer.cs
  Source/Moq.Analyzers/NoConstructorArgumentsForInterfaceMockAnalyzer.cs
  Source/Moq.Analyzers/NoMethodsInPropertySetupAnalyzer.cs
  Source/Moq.Analyzers/NoSealedClassMocksAnalyzer.cs
  Source/Moq.Analyzers/SetupShouldBeUsedOnlyForOverridableMembersAnalyzer.cs
  Source/Moq.Analyzers/SetupShouldNotIncludeAsyncResultAnalyzer.cs
  build/targets/codeanalysis/CodeAnalysis.props
Labels: housekeeping

#88 Fix trivial warnings
  .editorconfig
  Source/Moq.Analyzers.Test/AsAcceptOnlyInterfaceAnalyzerTests.cs
  Source/Moq.Analyzers.Test/GlobalSuppressions.cs
  Source/Moq.Analyzers/ConstructorArgumentsShouldMatchAnalyzer.cs
  Source/Moq.Analyzers/GlobalSuppressions.cs
Labels: housekeeping

#94 Update README.md to add leading and trailing pipes in table
  docs/rules/README.md
Labels: housekeeping

#93 Create dependabot.yml
  .github/dependabot.yml
Labels: housekeeping

#92 Update main.yml to add codacy test coverage
  .github/workflows/main.yml
  README.md
Labels: housekeeping

#89 Add more analyzers and bump Meziantou.Analzer to latest version
  .editorconfig
  Source/Moq.Analyzers.Test/.editorconfig
  Source/Moq.Analyzers.Test/ConstructorArgumentsShouldMatchAnalyzerTests.cs
  Source/Moq.Analyzers.Test/Moq.Analyzers.Test.csproj
  Source/Moq.Analyzers.Test/PackageTests.cs
  Source/Moq.Analyzers/AsShouldBeUsedOnlyForInterfaceAnalyzer.cs
  Source/Moq.Analyzers/CallbackSignatureShouldMatchMockedMethodAnalyzer.cs
  Source/Moq.Analyzers/CallbackSignatureShouldMatchMockedMethodCodeFix.cs
  Source/Moq.Analyzers/ConstructorArgumentsShouldMatchAnalyzer.cs
  Source/Moq.Analyzers/Helpers.cs
  Source/Moq.Analyzers/MoqAsMethodDescriptor.cs
  Source/Moq.Analyzers/MoqSetupMethodDescriptor.cs
  Source/Moq.Analyzers/NoConstructorArgumentsForInterfaceMockAnalyzer.cs
  Source/Moq.Analyzers/NoMethodsInPropertySetupAnalyzer.cs
  Source/Moq.Analyzers/NoSealedClassMocksAnalyzer.cs
  Source/Moq.Analyzers/SetupShouldBeUsedOnlyForOverridableMembersAnalyzer.cs
  Source/Moq.Analyzers/SetupShouldNotIncludeAsyncResultAnalyzer.cs
  build/targets/codeanalysis/CodeAnalysis.props
  build/targets/codeanalysis/Packages.props
  build/targets/tests/Tests.props
Labels: housekeeping

#101 Dependabot ignore packages that impact customer compatibility
  .github/dependabot.yml
Labels: housekeeping

#91 Enable warnings as errors
  .editorconfig
  Source/Moq.Analyzers.Test/CallbackSignatureShouldMatchMockedMethodCodeFixTests.cs
  Source/Moq.Analyzers.Test/Moq.Analyzers.Test.csproj
  Source/Moq.Analyzers/CallbackSignatureShouldMatchMockedMethodAnalyzer.cs
  Source/Moq.Analyzers/CallbackSignatureShouldMatchMockedMethodCodeFix.cs
  Source/Moq.Analyzers/ConstructorArgumentsShouldMatchAnalyzer.cs
  Source/Moq.Analyzers/Helpers.cs
  Source/Moq.Analyzers/NoConstructorArgumentsForInterfaceMockAnalyzer.cs
  build/targets/codeanalysis/CodeAnalysis.props
Labels: housekeeping, dependencies

#105 Update main.yml to add merge_group
  .github/workflows/main.yml
Labels: housekeeping

#106 Add auto labelers for Issues and PRs
  .github/labeler.yml
  .github/workflows/label-issues.yml
  .github/workflows/label-pr.yml
Labels: enhancement, housekeeping, documentation

#108 Update labeler.yml path for source
  .github/labeler.yml
Labels: housekeeping

#114 Update labeler.yml for v5
  .github/labeler.yml
Labels: bug, github_actions

#116 Create pr-labeler-current-milestone.yml
  .github/workflows/pr-labeler-current-milestone.yml
Labels: github_actions, releasable

#117 Generate .gitignore from a tool
  .gitignore
Labels: housekeeping, releasable

#124 Update ConstructorArgumentsShouldMatchAnalyzer test cases to make sure all positive and negative cases are covered
  tests/Moq.Analyzers.Test/ConstructorArgumentsShouldMatchAnalyzerTests.cs
Labels: housekeeping, releasable

#125 Refactor Moq1300 to use IOperation-based analysis
  .editorconfig
  src/Moq.Analyzers/AsShouldBeUsedOnlyForInterfaceAnalyzer.cs
  src/Moq.Analyzers/CompilationExtensions.cs
  src/Moq.Analyzers/EnumerableExtensions.cs
  src/Moq.Analyzers/MoqAsMethodDescriptor.cs
  src/Moq.Analyzers/SymbolExtensions.cs
  src/Moq.Analyzers/WellKnownTypeNames.cs
  tests/Moq.Analyzers.Benchmarks/Moq1300Benchmarks.cs
  tests/Moq.Analyzers.Test/AsAcceptOnlyInterfaceAnalyzerTests.cs
Labels: analyzers, releasable

#128 Add composite analyzer to test all analyzers
  tests/Moq.Analyzers.Test/CompositeAnalyzer.cs
  tests/Moq.Analyzers.Test/Moq.Analyzers.Test.csproj
Labels: enhancement, housekeeping, releasable, feature

#119 Add BDN perf comparison tool from roslyn analyzers
  .github/workflows/main.yml
  Directory.Packages.props
  Perf.cmd
  build/perf/baseline.json
  build/scripts/perf/CIPerf.cmd
  build/scripts/perf/ComparePerfResults.ps1
  build/scripts/perf/DiffPerfToBaseline.ps1
  build/scripts/perf/PerfCore.ps1
  build/scripts/perf/RunPerfTests.ps1
  nuget.config
  src/tools/.editorconfig
  src/tools/PerfDiff/.editorconfig
  src/tools/PerfDiff/BDN/BenchmarkDotNetDiffer.cs
  src/tools/PerfDiff/BDN/DataContracts/ChronometerFrequency.cs
  src/tools/PerfDiff/DiffCommand.cs
  src/tools/PerfDiff/ETL/EtlDiffer.cs
  src/tools/PerfDiff/ETL/OverWeightResult.cs
  src/tools/PerfDiff/Logging/NullScope.cs
  src/tools/PerfDiff/Logging/SimpleConsoleLogger.cs
  src/tools/PerfDiff/Logging/SimpleConsoleLoggerFactoryExtensions.cs
  src/tools/PerfDiff/Logging/SimpleConsoleLoggerProvider.cs
  src/tools/PerfDiff/PerfDiff.cs
  src/tools/PerfDiff/PerfDiff.csproj
  src/tools/PerfDiff/Program.cs
Labels: dependencies, github_actions, releasable, build, feature

#137 Update to latest version of DotNet.ReproducibleBuilds
  build/targets/reproducible/Packages.props
  build/targets/reproducible/Reproducible.targets
  build/targets/tests/Packages.props
  global.json
  tests/Moq.Analyzers.Test/PackageTests.Baseline#manifest.verified.nuspec
Labels: dependencies, releasable, build
