Repository rjmurillo/moq.analyzers, pull requests merged in 2024-07, with the labels that each got.

#142 Update version.json to 0.2.0
  version.json
Labels: releasable

#145 Remove CSharpGuidelinesAnalyzer and associated editorconfig values
  .editorconfig
  build/targets/codeanalysis/CodeAnalysis.props
  build/targets/codeanalysis/Packages.props
Labels: dependencies, releasable, build

#165 Enable TreatWarningsAsErrors
  build/targets/codeanalysis/CodeAnalysis.props
  build/targets/codeanalysis/CodeAnalysis.targets
  src/Moq.Analyzers/ConstructorArgumentsShouldMatchAnalyzer.cs
  src/tools/PerfDiff/Logging/SimpleConsoleLogger.cs
  tests/.editorconfig
  tests/Moq.Analyzers.Test/ConstructorArgumentsShouldMatchAnalyzerTests.DefaultParam.cs
  tests/Moq.Analyzers.Test/ConstructorArgumentsShouldMatchAnalyzerTests.Delegates.cs
Labels: analyzers, releasable, build
