Repository rjmurillo/moq.analyzers, pull requests merged in 2025-01, with the labels that each got.

#304 Update release.yml to use Ubuntu package instead of Windows
  .github/workflows/release.yml
Labels: github_actions, releasable, feature

#295 Move minimum support to sdk 8
  Directory.Packages.props
  global.json
  src/Analyzers/SquiggleCop.Baseline.yaml
  src/CodeFixes/SquiggleCop.Baseline.yaml
  tests/Moq.Analyzers.Benchmarks/Helpers/BenchmarkCSharpCompilationFactory.cs
  tests/Moq.Analyzers.Benchmarks/Moq.Analyzers.Benchmarks.csproj
  tests/Moq.Analyzers.Benchmarks/SquiggleCop.Baseline.yaml
  tests/Moq.Analyzers.Test.Analyzers/SquiggleCop.Baseline.yaml
Labels: dependencies, releasable

#326 Add AnalyzerUtilities to NuGet package
  src/Analyzers/Moq.Analyzers.csproj
  tests/Moq.Analyzers.Test/PackageTests.Baseline#contents.verified.txt
Labels: bug, releasable

#320 Merge v0.30 changes back to main
  README.md
  docs/rules/Moq1410.md
  src/Analyzers/AnalyzerReleases.Shipped.md
  src/Analyzers/AnalyzerReleases.Unshipped.md
Labels: documentation, releasable

#325 Pilot ARM64 actions runners
  .github/workflows/dependabot-approve-and-auto-merge.yml
  .github/workflows/dependabot-auto-approve.yml
  .github/workflows/label-issues.yml
  .github/workflows/label-pr.yml
  .github/workflows/main.yml
  .github/workflows/milestone-tracking.yml
  .github/workflows/pr-labeler-current-milestone.yml
  .github/workflows/release.yml
Labels: github_actions, releasable

#333 Update Compiler.props LangVersion
  build/targets/compiler/Compiler.props
Labels: releasable, build, feature
